body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.message {
  color: red;
  font-size: 1.5em;
  padding-bottom: 30px;
};

.player-turn, .turn-count {
  font-weight: bold;
};
